/* Estilo para el cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

/* Estilo para el header */
header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

h1 {
    margin: 0;
}

/* Efecto de caja resaltada */
.highlight-box {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    position: relative;
}

/* Títulos dentro de las cajas */
.highlight-box h3 {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: -20px -20px 20px -20px;
    border-radius: 8px 8px 0 0;
    text-align: center;
}

/* Efecto hover */
.highlight-box:hover {
    transform: scale(1.03);
}

/* Títulos secundarios */
h2, h3, h4 {
    color: #4CAF50;
}

/* Estilo para las secciones */
.section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2rem;
}

/* Estilos para las columnas */
.column {
    flex: 1;
    padding: 0 20px;
}

.left-column {
    order: 1;
}

.right-column {
    order: 2;
}

/* Cambiar el orden de columnas */
.section:nth-child(even) .left-column {
    order: 2;
}

.section:nth-child(even) .right-column {
    order: 1;
}

/* Cambiar el orden de las columnas para esta sección específica */
.section:nth-child(4) .left-column {
    order: 1; /* Asegura que esta columna esté en la izquierda */
}

.section:nth-child(4) .right-column {
    order: 2; /* La columna de la derecha queda a la derecha */
}

/* Centrado de la columna */
.center-column {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Centrar solo el texto del último recuadro */
.center-box-text {
    text-align: center;
}

/* Centrado de la sección introductoria */
.intro {
    text-align: center;
    padding: 20px;
}

.center-content {
    display: inline-block;
    text-align: left;
    max-width: 800px;
}

/* Estilo responsivo para pantallas pequeñas */
@media (max-width: 768px) {
    .section {
        flex-direction: column;
    }
    .column {
        margin-bottom: 1rem;
    }

    /* Ajuste de títulos en pantallas pequeñas */
    .highlight-box h3 {
        text-align: center;
        font-size: 1.2rem;
        padding: 10px;
    }
}



